nav{
    background-color: aqua;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li{
    /* Membuat teks menjadi sejajar (tidak atas-bawah) */
    float: left; 
}

nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

nav a:hover{
    background-color: black;
}